/* 
    Document   : graphstreamStyle
    Created on : May 21, 2014, 1:36:29 PM
    Author     : joemullen
    Description:
        Purpose of the stylesheet follows.
*/

graph {
    fill-color: white;
}
node { size: 10px; fill-color: red; text-font: Courier;
    text-size: 12;}

node.target { size: 10px; fill-color: blue; shape: triangle; }

node.compound { size: 10px; fill-color: red;  }

node.indication { size: 10px; fill-color: yellow;  }

node.molfunc { size: 10px; fill-color: black;  }

node.protein { size: 10px; fill-color: red; shape: triangle; }

node.publication { size: 10px; fill-color: green; shape: triangle; }

node.subgraph{
    size: 30; 
}

edge { shape: cubic-curve; text-font: Courier;
    text-size: 6;}

node#A {
    fill-color: blue;
}
node:clicked {
    fill-color: red;
}

